.popup__bg {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: 0.5s all;
  background: rgba(0, 0, 0, 0.5);
}

.popup__bg.active {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: 0.5s all;
}

.popup {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 600px;
  height: 500px;
  background-color: white;
  border-radius: 8px;
  z-index: 10;
}

.popup__text {
  width: fit-content;
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px auto;
}

.popup__total {
  display: flex;
  justify-content: space-around;
  margin: 0 30px 10px 0;
}

.popup__total__price {
  font-size: 18pt;
  text-transform: uppercase;
}

/* Конец важной части */
/* Далее код для стилизации формы */
.close-popup {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Конец важной части */
/* Далее код для стилизации формы */
.product-cart__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow-y: auto;
  flex-grow: 1;
  padding: 0 10px;
}

.product-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 75px;
  gap: 10px;
}

.product-cart_block {
  display: flex;
  width: 70%;
  height: 100%;
  align-items: center;
  column-gap: 10px;
}

.image-cart {
  width: 75px;
  height: 75px;
}

.description-cart {
  width: 100%;
  height: 80%;
  overflow: hidden;
  text-align: justify;
  font-size: 13pt;
}
.description-cart p {
  height: 100%;
}

.cart-price_block {
  display: flex;
  align-items: center;
  column-gap: 10px;
  width: 30%;
  height: 100%;
}
.cart-counter_block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.price-cart {
  font-size: 14pt;
  flex-grow: 1;
  font-weight: 800;
}

.cart_minus,
.cart_plus {
  cursor: pointer;
  font-size: 16pt;
  user-select: none;
}

.cart_num {
  padding: 5px 10px;
  text-align: center;
  background-color: #d5dbdb;
}

.basket-delete {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.basket-delete:hover {
  box-shadow: 0 0 3px 3px #e2000070;
  filter: invert(10%) sepia(96%) saturate(7499%) hue-rotate(12deg)
    brightness(89%) contrast(113%);
}

/* Registaration Modal */

.popup_calc_end {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_calc_end.active {
  display: flex;
}
.popup_content {
  width: 30rem;
  text-align: center;
}

.popup_content {
  /* display: none; */
  position: fixed;
  top: 10%;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 28rem;
  border-radius: 10px;
  background-color: #ffffff;
}

.order_done {
  display: none;
  height: 200px;
}
.order_done p {
  font-size: 16pt;
  font-weight: 600;
}
.order_done.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup_calc_end_close {
  cursor: pointer;
  position: absolute;
  font-size: 2.5rem;
  right: 10px;
  color: black;
  border: none;
  background: transparent;
}

.form {
  padding: 2rem 5rem;
  text-align: center;
  border-radius: 1rem;
  background-color: #ffffff;
}

.form h2 {
  margin-bottom: 1.5rem;
  font-size: 25px;
  font-weight: 800;
  color: #0e0e0e;
}

.form h2 span {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.block_input {
  display: grid;
  grid-template-columns: 1fr;
}

.form_input {
  width: 240px;
  height: 40px;
  padding: 0;
  margin: 0px auto 35px;
  text-align: center;
  font-size: 16px;
  border: 1.5px solid black;
  border-radius: 10px;
}

.form_notice {
  margin-top: 1rem;
  margin-bottom: 8px;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.btn-block {
  padding: 8px;
  width: 250px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
}
